html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

h1, h2 {
  position: absolute;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #f5f6fa;
  position: absolute;
}

h1 {
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

h2 {
  left: 50%;
  top: 60%;
  transform: translateX(-50%) translateY(-50%);
}

.navbar {
  background-color: #718093;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
  min-height: 70px;
}

.nav-link, .navbar-brand {color: #f5f6fa;}

#hero {
  background-color: #2f3640;
  background-size: cover;
  padding-top: 90px;
  min-height: 700px;
}